#time {
  font-size: 80;
  font-family: System-Regular;
  text-length: 32;
  text-anchor: middle;
  x: 50%;
  y: 20%+20;
  fill: white;
}

#date {
  font-size: 32;
  font-family: System-Light;
  text-length: 20;
  text-anchor: middle;
  x: 50%;
  y: 75%+25;
  fill: white;
}

