.background {
  viewport-fill: black;
}

#myTime {
  font-size: 80;
  font-family: System-Regular;
  text-length: 32;
  text-anchor: middle;
  x: 50%;
  y: 20%+20;
  fill: white;
}

#myDate {
  font-size: 32;
  font-family: System-Light;
  text-length: 20;
  text-anchor: middle;
  x: 50%;
  y: 80%+25;
  fill: white;
}

